<!-- index.html -->
{% extends 'base.html' %}
{% block title %} MI-System {% endblock %}
{% block content %}

{% for message in messages %}
<div class='alert alert-{{message.tags}}'>
{{ message }}
</div>
{% endfor %}

<div style="background-color:grey;">
  <br>
  <br>
  <br>
  <h1 align="center"><font color="white" size='15'>Multi-racial Imputation System</font></h1>
  <br>
  {% if username %}
  <h4 align="center"><font color="white">User id: {{username}} </font></h4>
  {% endif %}
  <br>
</div>
<div class='container'>
  <br>
  <br>
  {% load static %}
  <img src="{% static 'images/dna.jpg' %}" style="display:block; margin:auto; " width=1000>
  <br>
  <h3 align="center"><font color="white">This server can do the imputation of SNP data.</font></h3>
  <br>

</div>

{% endblock %}
